Source: canaima-multimedia-gnome
Section: misc
Priority: optional
Maintainer: Francisco Javier Vasquez Guerrero <franjvasquezg@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-multimedia-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-multimedia-gnome/trees/master

Package: canaima-multimedia-gnome
Architecture: all
Depends:	totem,
		totem-mozilla,
		rhythmbox,
		brasero,
		shotwell,
		gpaint,
		simple-scan,
		pitivi,
		gstreamer0.10-tools,
		gstreamer0.10-ffmpeg,
		gstreamer0.10-alsa,
		gstreamer0.10-plugins-ugly,
		gstreamer0.10-plugins-base,
		gstreamer0.10-plugins-good,
		${misc:Depends}
Description: Aplicaciones multimedia para Canaima GNU/Linux (metapackage)
 Este metapaquete provee las aplicaciones multimedia para Canaima GNU/Linux.
